body{
  background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 85%);
}

#title{
  font-size: 50px;
  text-align: center;
  padding: 15%;
}

h1:first-letter{
  color: #FF367F;
  font-size: 200%;
}

.button{
  border : solid 4px #b3b3b3 ;
  border-top : solid 4px #e0e0e0 ;
  border-bottom : solid 4px #717171 ;
}

#start{
  width: 200px;
  top: 40%;
  left: 45%;
  margin-left: 40%;
}

#setting{
  width: 314px;
  margin-left: 35%;
  text-align: center;
}

input{
  width: 106px;
  height: 106px;
  font-size: 50px;
  text-align: center;
}

#play_game{
  width: 200px;
  margin-left: 23%;
}

.game_situation{
  margin-right: 20%;
  float: right;
  clear: both;
}

#play_area{
  display: none;
  margin-top: 10%;
}

#point_area{
  font-size: 30px;
}

#round_area{
  font-size: 35px;
}

#count{
  font-size: 30;
  font-family: fantasy;
}

#theme_number_area{
  color: red;
  font-size: 40px;
  font-family:arial black;
}

#answer_area{
  font-size: 40px;
}

.correct_answer{
  background-color: yellow;
  border: 3px ridge;
  color: black;
  width: 120px;
  text-align: center;
}

.wrong_answer{
  background-color: blue;
  border: 3px ridge;
  color: white;
  width: 120px;
  text-align: center;
}

#reset{
  margin-top: 10px;
  margin-bottom: 10px;
}

#game_result{
  font-size: 30px;
  border: 3px ridge;
  background-color: red;
  color: white;
  width: 170;
  text-align: center;
}

#tile_frame{
  margin-left: 10%;
}

#tile_area{
  font-size: 30px;
  display: block;
}

.play_number{
  width: 40px;
  height: 40px;
  text-align: center;
  border: 6px ridge;
  background-color: white;
}

.unusable{
 background-color: gray;
}

